*{
  padding:0px;
  margin:0px;
}
body{
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}
.container{
  font-size:20px;
  margin: 50px;
}
.section-one{
  padding:20px;
  background-color: black;
  color:white;
}
.section-one__contact{
  text-decoration:none;
  color:darkcyan;
  border-radius: 20px;
  background-color: bisque;
  display:inline-block;
  padding:4px;
}
.section-two{
  margin-top:50px;
}
.section-three{
  margin-top:50px;
}
.section-three__desc{
  list-style:none;
}
.section-three{
  background-color:#6462fd;
  color:cornsilk;
  display:inline-block;
  padding:20px;
  height:150px;
  width:200px;
  border-radius:20px;
}
.section-four{
  background-color: coral;
  margin-top:50px;
  display:inline-block;
  padding:20px;
  height:150px;
  border-radius:20px;
}
.section-four__desc{
  list-style:none;
}
.section-one__title{
  font-size:70px;
}
.section-five{
  background-color: black;
  color:white;
  margin-top :50px;
  padding:20px;

}
.section-five__desc a{
  color: aquamarine;

}